<!DOCTYPE html>
<html xmlns:javascript="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap 模板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- 引入导航栏样式 -->
    <link rel="stylesheet" href="css/navigation.css">

    <!-- 包括所有已编译的插件 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- 模态窗口的打开需要依赖此文件 -->
    <script src="js/modal.js"></script>
    <!-- 引入搜索样式 -->
    <link rel="stylesheet" type="text/css" href="css/search_css/normalize.css"/>
    <link rel="stylesheet" href="css/search_css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/search_css/demo.css">
    <link rel="stylesheet" href="css/search_css/style.css">

    <!-- 引入自己写的样式 -->
    <link rel="stylesheet" href="css/index_style.css">
    <link rel="stylesheet" href="css/login_style.css">

    <!-- 引入公用的js-->
    <script src="./js/vue/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/common.js"></script>

    <!--element-->
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    &lt;!&ndash; 引入组件库 &ndash;&gt;
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <!--element-->
    <link rel="stylesheet" href="static/element-2.12.0/index.css">
    <script src="static/element-2.12.0/index.js"></script>

    <!-- 引入自己写的js文件 -->
    <script src="js/my_js/index.js"></script>
    <script src="js/my_js/login.js"></script>

</head>
<body>
<div id="Vue-app">
    <div class="header" id="header-top">   <!--line-height: 30px 将文字宽度与div一致 让文字居中 -->
        <!--<shotcut @deliver="getChildData(arguments)"></shotcut>-->   <!--组件化头部-->
        <div style="margin:0 auto;width:900px;height: 30px;line-height: 30px;font-size:15px">
             <span >
                <span style="float:right">
                    <a href="regist.html">注册</a>
                </span>
                <span style="float:right">&nbsp; | &nbsp;</span>
                <span style="float:right">
                     <a href="login.html">登录</a>
                </span>
            </span>
        </div>
    </div>


    <div class="container">
        <!--logo图片-->
        <div>
            <img src="img/sa_logo.png">
        </div>

        <!--导航条-->
        <div id="nav-1">
            <ul class="nav">
                <li class="slide1"></li>
                <li class="slide2"></li>
                <li><a class="active" href="index.html">首页</a></li>
                <li><a href="#/">资讯</a></li>
                <li><a href="rescue.html">救助</a></li>
                <li><a href="adopt.html">领养</a></li>
                <li><a href="search.html">寻宠</a></li>
                <li><a href="help.html">帮助</a></li>
                <li><a href="about-us.html">关于我们</a></li>
                <!-- 搜索框 -->
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                </p>
                <li>
                    <div class="search d7">
                        <form>
                            <input type="text" placeholder="搜索从这里开始...">
                            <button type="submit"></button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <br><br>

        <!--========================开始登陆页面的创建=========================-->
        <div class="login" id="loginApp">  <!--vue 区域-->
            <div class="login-continal">
                <!--登录界面左侧图片-->
                <div class="login-photo">
                    <img src="img/login.jpg" height="420px">
                </div>
                <!--登录表单-->
                <br> <!--居中-->
                <div class="login-form">
                    <br>
                    <h4 style="color: #7fb06a">&emsp;忘记密码</h4>
                    <span style="color:red;text-align: center;padding-left: 5px;font-size: small">【请输入用户名和注册时的邮箱，<br>&emsp;&emsp;&emsp;&emsp;&emsp;验证通过后新密码会发送到您的邮箱中！】</span>
                    <div style="height: 15px"></div>
                    <!--登录表单-->
                    <form>

                        用户名:&emsp;&emsp;
                        <!--v-model 双向绑定数据-->
                        <input v-model="username" id="username" name="username" class="form-control required"
                               type="text" placeholder="请输入用户名"
                               style="width: 80%">
                        <br>
                        邮&emsp;箱:&emsp;&emsp;
                        <input v-model="email" id="text" name="password" class="form-control required"
                               type="password" placeholder="请输入注册时填写的邮箱"
                               style="width: 80%"><br>
                        <div class="form-group">
                            <div id="slideBar"></div>
                        </div>

                        <div class="form-group col-md-offset-2">
                            <!--  @click 表示点击事件 submit 是绑定的事件方法 -->
                            <button @click.stop="submit" id="login-btn" type="button" class="btn btn-success">找回密码
                            </button>
                        </div>
                        <!--错误信息提示-->
                        <br>
                    </form>

                    <!--其他登录方式-->
                    <!--<a>QQ登录</a><br>
                    <a>微信登录</a>-->


                </div>
            </div>

        </div>
    </div>
</div>


<hr/>
<!-- 设置底部布局 -->
<div class="footer">
    <script type="text/javascript">$(".footer").load("/src/public/footer.html");</script>
</div>

<!-- 引入导航栏js,注意和引入顺序有关 必须放在后面 -->
<script src='js/jquery.min.js'></script>
<script src="js/my_js/script.js"></script>

<!-- vue 调用-->
<script type="application/javascript">
    var registerVm = new Vue({
        el: "#Vue-app",
        data: {
            username: "",
            email: ""
        },
        methods: {
            /*发布陈宫消息提示*/
            showSuccessMsg(data) {
                this.$message(
                    {
                        message: data,
                        type: 'success'
                    }
                );
            },
            /*失败消息*/
            showFaileMsg(data) {
                this.$message.error(data);
            },
            submit() {
                if (!this.username) {
                    this.showFaileMsg("请输入用户名！");
                    return null;
                };
                if (!this.email) {
                    this.showFaileMsg("请输入邮箱！");
                    return null;
                };
                var _this = this;
                // 校验通过，提交表单
                leyou.http.get("/auth/resetPassword", {
                    params: {
                        username: this.username,
                        email: this.email
                    }
                })
                    .then(resp => {
                        if (resp.status === 200) {  // 如果传过来的状态码是201
                            _this.showSuccessMsg("密码重置成功！即将前往登录页")
                           window.setTimeout(() => {
                               window.location = '/login.html';
                           },1000);
                        } else {
                            _this.showFaileMsg("信息输入错误，请重新输入！")
                        }

                    })
                    .catch(() => _this.showFaileMsg("信息输入错误，请重新输入！"))
            }
        }
    });

</script>
</body>
</html>