<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.web.modular.common.dao.SysConfigMapper">

<!--    <cache flushInterval="10800" readOnly="false" size="5"></cache>-->

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.web.modular.common.entity.SysConfig" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="paramKey" column="param_key"/>
        <result property="remark" column="remark"/>
        <result property="paramValue" column="param_value"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
               id,
               param_key as paramKey,
               remark,
               param_value as paramValue,
               status
    	</sql>

    <update id="updateValueByKey" parameterType="map">
      update sys_config set `param_value` = #{value} where `param_key` = #{key}
    </update>

    <!-- 根据key，查询value -->
    <select id="getByKey" parameterType="string" useCache="true"  resultType="string">
      select param_value from sys_config where `param_key` = #{key}
    </select>
    <select id="getConfigByKey" resultType="com.hsshy.beam.web.modular.common.entity.SysConfig">
        select <include refid="Base_Column_List"></include>
        from sys_config
        where `param_key` = #{key}
    </select>


</mapper>