<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.admin.modular.sys.dao.DictMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.admin.modular.sys.entity.Dict" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="des" column="des"/>
        <result property="code" column="code"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
		            a.`id` AS "id", 
                a.`pid` AS "pid", 
                a.`name` AS "name", 
                a.`des` AS "des", 
                a.`code` AS "code", 
                a.`sort` AS "sort", 
                a.`create_time` AS "createTime", 
                a.`update_time` AS "updateTime"
        </sql>

    <select id="selectPageList" resultType="com.hsshy.beam.admin.modular.sys.entity.Dict">
        select
        <include refid="Base_Column_List"/>
        from sys_dict a
        <where>
            <if test="dict.pid != null and dict.pid != ''">
                a.pid = #{dict.pid}
            </if>
            <if test="dict.name != null and dict.name != ''">
                a.name = #{dict.name}
            </if>
            <if test="dict.des != null and dict.des != ''">
                a.des = #{dict.des}
            </if>
            <if test="dict.code != null and dict.code != ''">
                a.code = #{dict.code}
            </if>
            <if test="dict.sort != null and dict.sort != ''">
                a.sort = #{dict.sort}
            </if>

        </where>
    </select>

</mapper>