<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.admin.modular.sys.dao.LoginLogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.admin.modular.sys.entity.LoginLog" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="logName" column="log_name"/>
        <result property="userId" column="user_id"/>
        <result property="succeed" column="succeed"/>
        <result property="message" column="message"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
		        a.`id` AS "id",
                a.`log_name` AS "logName", 
                a.`user_id` AS "userId", 
                a.`succeed` AS "succeed", 
                a.`message` AS "message", 
                a.`ip_address` AS "ipAddress", 
                a.`create_time` AS "createTime", 
                a.`update_time` AS "updateTime"
        </sql>
    <delete id="deleteAll">
        delete from sys_login_log
    </delete>

    <select id="selectPageList" resultType="com.hsshy.beam.admin.modular.sys.entity.LoginLog">
        select
        <include refid="Base_Column_List"/>,
        u.name as userName
        from sys_login_log a left join sys_user u on a.user_id = u.id
        <where>
            <if test="loginLog.logName != null and loginLog.logName != ''">
                and a.log_name = like concat("%",#{loginLog.logName},"%")
            </if>
            <if test="loginLog.userName != null and loginLog.userName != ''">
                and u.name like concat("%",#{loginLog.userName},"%")
            </if>
            <if test="loginLog.succeed != null and loginLog.succeed != ''">
                and a.succeed like concat("%",#{loginLog.succeed},"%")
            </if>
            <if test="loginLog.message != null and loginLog.message != ''">
                and a.message like concat("%",#{loginLog.message},"%")
            </if>
            <if test="loginLog.ipAddress != null and loginLog.ipAddress != ''">
                and a.ip_address like concat("%",#{loginLog.ipAddress},"%")
            </if>
        </where>
        order by a.create_time desc
    </select>

</mapper>