<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.admin.modular.sys.dao.UserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.admin.modular.sys.entity.User" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="avatar" column="avatar"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="name" column="name"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="deptId" column="dept_id"/>
        <result property="status" column="status"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="version"/>
    </resultMap>

    <sql id="Base_Column_List">
               a.id,
               a.avatar,
               a.account,
               a.name,
               a.birthday,
               a.sex,
               a.email,
               a.phone,
               a.dept_id as deptId,
               a.status,
               a.version,
               a.create_time as createTime,
               a.update_time as updateTime
    	</sql>

    <delete id="delURByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>
    <delete id="delURInUserId">
        delete from sys_user_role where user_id in
        <foreach collection ="userIds" item="userId" index= "index"  open="(" separator="," close=")">
            #{userId}
        </foreach >
    </delete>
    <!--保存用户角色信息-->
    <insert id="saveUserRole">
        insert into sys_user_role (user_id,role_id)
        values
        <foreach collection ="user.roleIds" item="roleId" index= "index" separator =",">
            (
            #{user.id}, #{roleId}
            )
        </foreach >
    </insert>
    <!-- 查询用户的所有权限 -->
    <select id="queryAllPerms" resultType="string">
		select m.perms from sys_user_role ur
			LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
			LEFT JOIN sys_menu m on rm.menu_id = m.id
		where ur.user_id = #{userId}
        <if test="type!=null">
            and m.type = #{type}
        </if>
	</select>

    <!-- 查询用户的所有菜单ID -->
    <select id="queryAllMenuId" resultType="long">
		select distinct rm.menu_id from sys_user_role ur
			LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
		where ur.user_id = #{userId}

	</select>
    <select id="getRoleIdsById" resultType="long">
        select role_id from sys_user_role where user_id = #{userId}
    </select>
    <select id="selectPageList" resultType="java.util.Map">
        select <include refid="Base_Column_List"/>,
        b.name as deptName
        from sys_user a left join sys_dept b on a.dept_id = b.id
        <where>
            <if test="user.account != null and user.account != ''">
                a.account LIKE concat("%",#{user.account},"%")
            </if>
            <if test="user.name != null and user.name != ''">
                and a.name LIKE concat("%",#{user.name},"%")
            </if>
            <if test="user.deptIds != null and user.deptIds != ''">
                and a.dept_id in (${user.deptIds})
            </if>
        </where>
    </select>

</mapper>