<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.web.modular.blog.dao.ArticleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.web.modular.blog.entity.Article" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="frozen" column="frozen"/>
        <result property="sort" column="sort"/>
        <result property="tag" column="tag"/>
        <result property="readNum" column="read_num"/>
        <result property="shortCode" column="short_code"/>
        <result property="headImg" column="head_img"/>
        <result property="textType" column="text_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="cids" javaType="java.util.List" column="id" select="getCidById"></collection>
    </resultMap>

    <sql id="Base_Column_List">
		        a.`id`,
                a.`title`,
                a.`author`,
                a.`frozen`,
                a.`sort`,
                a.`read_num` ,
                a.`short_code`,
                a.`head_img` ,
                a.`text_type` ,
                a.`create_time` ,
                a.`tag` ,
                a.`update_time`
        </sql>
    <sql id="Front_Column_List">
                a.`title`,
                a.`author`,
                a.`frozen`,
                a.`sort`,
                a.`read_num` ,
                a.`short_code`,
                a.`head_img` ,
                a.`text_type`,
                a.`create_time` ,
                a.`tag` ,
                a.`update_time`
        </sql>
    <sql id="Base_Column_Info">
		        a.`id`,
                a.`title`,
                a.`author`,
                a.`content`,
                a.`frozen`,
                a.`sort`,
                a.`read_num`,
                a.`short_code`,
                a.`head_img`,
                a.`text_type`,
                a.`create_time`,
                a.`tag`,
                a.`update_time`
        </sql>
    <sql id="Front_Column_Info">
                a.`title`,
                a.`author`,
                a.`content`,
                a.`frozen`,
                a.`sort`,
                a.`tag`,
                a.`read_num`,
                a.`short_code`,
                a.`head_img`,
                a.`text_type`,
                a.`create_time`,
                a.`update_time`
        </sql>
    <insert id="saveRef">
        insert into b_article_category_ref (article_id,category_id)
        values
        <foreach collection="categoryIds" item="categoryId" index="index" separator=",">
            (
            #{id}, #{categoryId}
            )
        </foreach>
    </insert>
    <update id="addReadNum">
        update b_article
        set read_num = read_num + 1
        where id = #{id}
    </update>
    <delete id="delRefById">
        delete from b_article_category_ref where article_id = #{articleId}
    </delete>

    <select id="getPage" resultType="com.hsshy.beam.web.modular.blog.entity.Article">
        select
        <include refid="Base_Column_List"/>
        from b_article a
        <where>
            <if test="article.title != null and article.title != ''">
                a.title like concat("%",#{article.title},"%")
            </if>
        </where>
        order by a.sort desc,a.create_time desc
    </select>
    <select id="getArticle" resultType="com.hsshy.beam.web.modular.blog.entity.Article">
        select
        <include refid="Front_Column_Info"/>
        from b_article a
        <where>
            a.id = #{id}
        </where>
    </select>
    <select id="getArticleInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_Info"/>
        from b_article a
        <where>
            a.id = #{id}
        </where>
    </select>
    <select id="getCidById" resultType="java.lang.Long">
        select category_id from b_article_category_ref where article_id = #{id}
    </select>
    <select id="getArticleListByCid" resultType="com.hsshy.beam.web.modular.blog.entity.Article">
        select
        <include refid="Front_Column_List"/>
        from b_article_category_ref acr
        left join b_article a
        ON a.id = acr.article_id
        where acr.category_id = #{cid}
        order by
        a.sort desc,
        a.create_time desc
    </select>
    <select id="selectPageByCid" resultType="com.hsshy.beam.web.modular.blog.entity.Article">
        select
        <include refid="Front_Column_List"/>
        from b_article_category_ref acr
        left join b_article a
        ON a.id = acr.article_id
        where acr.category_id = #{article.cid}
        order by
        a.sort desc,
        a.create_time desc
    </select>


</mapper>